{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
    <h1>Home page</h1>
    <br/>
    <h2>Descriptions</h2>
    <p>The opinion score measured is the extent to which a tweet advocates for
        practicing COVID health measures (such as social distancing, wearing a mask,
        or staying at home) and calling people to action, ranging from -1 to 1. </p>
    <div class="mb-3">
        <form action="{{ url_for('predict_score') }}", method="post">
            <label> Enter Tweet Here: </label>
            <br/>
            <textarea class="form-control" name="tweet" rows="3"></textarea>
            <br/>
            <button type="submit" class="btn btn-secondary">Predict</button>
        </form>
    </div>

{% endblock %}