{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}

    <h3>What is opinion score?</h3>
    <p>
        The opinion score produced by this app measures the extent to which a tweet advocates for
        practicing COVID health measures (such as social distancing, wearing a mask,
        or staying at home) and calls people to action, ranging from -1.0(against) to 1.0(for).
        Note that a score of zero means the tweet is neutral or ambiguous about COVID
        health measures, or is irrelevant to COVID-19.
    </p>
    <p>Here are some examples of opinion score calculated by this app: </p>
    <div class="content" style="width: 90%; margin: auto;">
        <p style="font-size: 16px;">
            Tweet: "We need to be responsible we tell our kids to do what they are told in the effort
            to teach them what responsibility is? Well it is time to be responsible wear your #mask
            and #SocialDistance we are in a #pandemic #covid19" <br/>
            Opinion score: <span style="color: green">0.747</span>
        </p>
        <p style="font-size: 16px">
            Tweet: "Hello my friends! Have a good day!"<br/>
            Opinion Score: <span style="color: orange">-0.0313</span>
        </p>
        <p style="font-size: 16px">
            Tweet: "@ePearce4Q No, this was a political hoax. It was the only way dems could cancel
            26 primary voting days in LOCKDOWN MARCH. Hospitals all over the country have been
            empty for MONTHS #FilmYourHospital this was all a scam to get 12 TRILLION DOLLAR
            BAILOUT #Scamdemic  #Plandemic2020 #Event201  https://t.co/EY7folvsiv"
            <br/> Opinion score: <span style="color: red">-0.9683</span>
        </p>
    </div>
    <br/>

    <h3>Try it!</h3>
    <div class="mb-3">
        <form action="{{ url_for('predict_score') }}", method="post">
            <label> Enter Tweet Here: </label>
            <textarea class="form-control" name="tweet" rows="5"></textarea>
            <br/>
            <button type="submit" class="btn btn-secondary">Calculate</button>
        </form>
    </div>

{% endblock %}